@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  14% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  18% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  22% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  26% {
    transform: translate3d(0, 0, 0);
  }
}

.wobble {
  animation: wobble 5s infinite ease-in-out;
}