<a id="hb-traffic-cta" class="hb-cta wiggle" onclick="if (hellobar('base.preview').isActive()) { return false } else { hellobar('elements.conversion').trackClick(this, hellobar('elements').findById(578869)); return false };" href="https://app.hellobar.com/users/sign_up/?utm_source=hellobar&amp;utm_medium=bar&amp;utm_campaign=signups" target="_parent" style="
      color: #eb5424; 
      background-color: #eb5424;
      border: 0px solid #ffffff;
      border-radius: 0px;
    " rel="nofollow">
  <div class="hb-text-holder hb-editable-block hb-editable-block-with-simple-no-link-formatting" data-hb-editable-block="action_link" data-hb-inline-editor-placeholder="Action">
    <p>
      <span style="color: rgb(255, 255, 255);">
        <strong>{%TEXT%}</strong>
      </span>
    </p>
  </div>
</a>