#hellobar {
  width: 100%;
  margin: 0 0;
  height: 50px;
  display: table;
  font-size: 17px;
  font-weight: 400;
}

#hellobar p {
  padding: 0px;
  margin: 0px;
}

.hellobar__content-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}