#hellobar {
  width: 100%;
  margin: 0 0;
  height: 50px;
  display: table;
  font-size: 17px;
  font-weight: 400;
  padding: 0.33em 0.5em;
  box-sizing: border-box;
}

#hellobar p {
  padding: 0px;
  margin: 0px;
}

.hellobar__content-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#hellobar .hellobar__close--hidden {
  visibility: hidden;
}

#hellobar .hellobar__brang-logo--hidden {
  visibility: hidden;
}

#hellobar .hellobar__brang-logo {
  cursor: pointer;
  display: table-cell;
  width: 20px;
  vertical-align: middle;
}