#hellobar {
  width: 100%;
  margin: 0 0;
  height: 50px;
  display: table;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid #ccc;
}

.hellobar__content-wrapper {
  display: table-cell;
  text-align: center;
}