@import "./styles/animation/wobble.css";
@import "./styles/animation/fade.css";

#ninjabar-wrapper {
  width: 100%;
  position: absolute;
}

#ninjabar-wrapper.sticky {
  position: fixed;
}

#ninjabar-wrapper.top {
  top: 0px;
}

#ninjabar-wrapper.bottom {
  position: fixed;
  bottom: 0px;
}
